
body {
	padding: 0 0 0 0;
	font-family: Helvetica, Arial
}

#header {
	margin: 0 0 0 0;	
	padding: 0 0 0 0;
	color: white;
}
#header a:link, #header a:visited {
	color: white;
}

#header_menu1 {
	margin: 0 0 5px 0;
	background-color: #2E5CB8;
	padding: 5px 5px 5px 5px;
}
#header_menu1 span {
	margin: 0 10px 0 0;
}
#header_message_block {
	text-decoration: bold;
}
#header_message_block .error {
	color: red;
	text-decoration: bold;
}

#content {
	padding:10px 0 0 0;
}

.info_block b {
	color: black;	
}
.info_block {
	color: gray;
	margin: 0 0 10px 0;
	padding: 3px 3px 3px 3px;	
}
.info {
	margin: 0 5px 5px 0;
}
.info_message {
	color: green;
}

.rowOdd {
	background-color: #DDD
}

.rowEven {
	background-color: #EEF
}

#footer {
	margin: 10px 0 0 0;	
	padding: 5px 5px 5px 5px;
	background-color: #2E5CB8;
	color: white;
	text-decoration: bold;
}